
<nav id="editor-tab">
  <div class="pure-menu pure-menu-horizontal">
    <a class="pure-menu-heading pure-menu-link">New Entry</a>
    <ul class="pure-menu-list">
      <li class="pure-menu-item pure-menu-selected"><a class="pure-menu-link">Editor</a></li>
      <li class="pure-menu-item"><a class="pure-menu-link">Preview</a></li>
    </ul>
  </div>
</nav>

<form class="pure-form" action="/write" method="post">
  <div id="editor">
    <input id="editor-title" class="pure-input-1" type="text" name="title" placeholder="Title">
    <textarea id="editor-content" class="pure-input-1" name="content"></textarea>
  </div>
  <div id="preview">
    <h2>&nbsp;</h2>
    <div id="preview-body" class="markdown-body">
    </div>
  </div>
  <p class="text-center">
    <button class="pure-button pure-button-primary">Save</button>
  </p>
</form>
